# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
*.log
local_settings.py
db.sqlite3
media/

# Node
node_modules/
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
